@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-charm {
        font-family: 'Charm', cursive;
    }
}